.Toolbar {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}

header nav {
	height: 100%;
	margin-left: auto;
}

header div {
	justify-content: flex-start;
}

@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
	.Toolbar {
		box-shadow: 0 8px 6px -8px #000000;
		z-index: 100;
		background-color: #211e60;
	}
}

@media (min-width: 499px) {
	div.hamburgerMenu {
		display: none;
	}
}

