* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5em;
  
}

a {
  color: #ffffff;
}

.app {
  text-align: center;
}

.app button {
  padding: 16px;
  font: inherit;
  color: white;
  cursor: pointer;
}

.app button:hover {
  color: black;
}

.projects {
display: flex;
flex-wrap: nowrap;
padding: 55px 50px 25px 50px;
background-color: #333333;
height: 450px;
}

.aboutMe {
  display: flex;
  background-color: #ffffff;
  color: #666666;
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: normal;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: 'Raleway', sans-serif;

}

.aboutMe p {
  margin-top: 30px;
  max-width: 650px;
}

.introPageContainer {
  height: 100vh;
  background-image: linear-gradient(
    rgba(20, 20, 20, 0.365), 
    rgba(20,20,20, .7)), url("./images/background.JPG");
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5em;  
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 5%;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.introLine {
  max-width: 60%;
  align-self: center;
  flex-grow: 0.2;
}

.introLine p {
  padding-top: 40px;
  font-weight: 50;
  font-size: 1.5em;
  line-height: 1.5em;
}

@media (max-width: 499px) {
  .introPageContainer {
    justify-content: space-evenly;
  }
  .introLine {
    max-width: 350px;
    align-self: left;
    flex-grow: 0.2;
  }
  .introLine p {
    font-weight: 20;
    font-size: 23px;
  }
  .introLine h1 {
    font-size: 30px;
  }
  .profileImg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 40px;
  }
  
}

@media (min-width: 500px) {
  div>img.profileImg{
    display: none;
  }
}

ul.navFooter a:hover {
  background-color: #262628;
  color: #40A4C8;
  border: 0 solid #262628;
}

div.socialMediaIcons > span {
  margin-left: 25px;
  flex-grow: 0.2;
}

.footer > a {
  /* background-color: rgba(26,26,26,.75); */
  text-align: center;
}

.footerContainer {
  background-color: #262628;
  color: #ffffff;
}

.actionParagraph {
  padding: 80px 0 50px 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  z-index: 100; 
  left: 0; 
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5)
}
/* show navigation menu items in block layout when sideDrawer component
is open */
@media (max-width: 499px) {
  div nav ul.navigationItems{
    flex-flow: column;
    align-self: flex-start;
    text-align: left;
    font-family: Raleway, monospace; 
    font-size: 1.5em;
    font-weight: bold;
  }

  .navigationItems a{
    padding: 10px 0 10px 10px;
  }
  .navigationItems a:hover {
    opacity: 0.2;
  }
}