.NavigationItems {
    display: flex;
    flex-flow: row;
    height: 100%;
    font-family: Raleway, monospace; 
    justify-content: space-around;
}

.NavigationItems a {
	text-decoration: none;
	box-sizing: border-box;
	align-self: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	padding: 0 20px 0 20px;
}

.NavigationItems a:hover {
  	opacity: 0.2;
}

@media (max-width: 499px) {
	.NavigationItems a {
		display: flex;
		justify-content: center;
		align-self: center;
		padding: 0 10px 0 10px;
	}	
}