.NavigationItems {
    display: flex;
    flex-flow: row;
    height: 100%;
    font-family: Raleway, monospace; 
    justify-content: space-around;
    width: 400px;
}

.NavigationItems a {
	text-decoration: none;
	width: 100%;
  box-sizing: border-box;
  align-self: center;
}
